<% title = "Merced Market" %>
<% additionalStyles = ['/payment/payment.css'] %>
<% additionalScripts = ['/payment/payment.js'] %>

<%- contentFor('body') %>
<section class="homepage">
  <div class="center">
    <!-- Display saved cart items -->
    <div class="cart">
      <h1>Your cart</h1>
      <table>
        <thead>
          <tr>
            <th>Select</th>
            <th>Name</th>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        <!-- Cart items dynamically inserted here -->
        <% if (data.length > 0) { %> 
         <% data.forEach(product => { %>
            <tr>
                <% const productImage = '/img/' + product.product_id %>
                <td>
                    <input 
                      type="checkbox" 
                      class="item-checkbox" 
                      value="<%= product.product_id %>" 
                      id="checkbox_<%= product.product_id %>"
                    />
                  </td>
                <td>
                    <b><%= product.name %></b>
                </td>
                <td><img class="productImage" src="<%= productImage %>"></td>
                <td>
                    <span 
                    id="quantity_label_<%= product.product_id %>" 
                    class="quantity-label" 
                    onclick="showInput(<%= product.product_id %>)"
                  >
                    <%= product.quantity %>
                  </span>
                  <input 
                    type="number" 
                    min="1" 
                    value="<%= product.quantity %>" 
                    id="quantity_input_<%= product.product_id %>" 
                    class="quantity-input hidden"
                    onblur="updateQuantity(<%= product.product_id %>)"
                  />
                  </td>                  
                <td><%= product.price %></td>
                <td>
                  <button class="decrease">
                    <img src="payment/trash.png" alt="Delete" class="delete-icon" onclick="deleteItem(<%= product.product_id %>)" />
                  </button>
                </td>
            </tr>
        <% }) %>
        <% } else { %>
            <td><h3>Nothing here...</h3></td>
        <% } %>
        </tbody>
      </table>
    </div>
    <% if (data.length > 0) { %> 
    <div class="paymentLink">
      <button onclick="processPlaceOrder();"> Continue to Payment</button>
    </div>
    <% } else { %>
        <div class="paymentLink">
            <button onclick="window.location.href='/';">Let's go shopping</button>
        </div>
    <% } %> 
  </div>
</section>
