<%- contentFor('body') %>
<section class="homepage">
  <div class="container">
    <div class="center">
      <div class="ad-container">
        <div class="ad-rotator">
          <img src="/assests/iPhone16Pro.png" alt="iPhone16Pro" class="ad-img" />
        </div>
      </div>

      <!-- Check routes/index.js file to see the variable -->
      <h1><%= testmessage %></h1>

      <!-- Main Page Products -->
      <div class="products">
        <% products.forEach(product => { %>
          <% const productImage = '/product/' + product.image %>
          <div class="product">
            <img src="<%= productImage %>" alt="<%= product.description %>" />
            <h3><%= product.name %></h3>
            <p>$<%= product.price %></p>
            <a href="/product"><button>Details</button></a>
          </div>
        <% }) %>
      </div>
      <!-- Closing the products div -->
    </div>
    <!-- Closing the center div -->
  </div>
</section>
