<%- contentFor('body') %>
<% additionalScripts=['./product.js'] %>

<section class="product-page">
  <div class="container">
    <div class="product-detail">
      <img src="/img/<%- id %>" alt="Product Image" />
      <div class="product-info">
        <h2><%- name %></h2>
        <p class="price"><%- price %></p>
        <p class="description">
            <%- desc %>
        </p>
        <button id="addToCartButton">Add to Cart</button>
      </div>
    </div>
  </div>
  <script>
    const data = {
      id: id
    };
  </script>
</section>
